<div class="">
  <form class="form-group">
    <fieldset class="form-group">
      <label  for="login">Login</label>
      <input id="login" type="text" class="form-control" ng-model="usuario.login">
    </fieldset>
    <fieldset class="form-group">
      <label  for="senha">Senha</label>
      <input id="senha" type="password"  class="form-control" ng-model="usuario.senha">
    </fieldset>
    <button class="btn btn-lg btn-primary" ng-click="entrar(usuario)">
     Entrar
    </button>
  </form>
</div>
