<form>
  <fieldset class="form-group">
    <label  for="nome">Nome</label>
    <input id="nome" type="text" class="form-control" ng-model="usuario.nome">
  </fieldset>
  <fieldset class="form-group">
    <label  for="login">Login</label>
    <input id="login" type="text" class="form-control" ng-model="usuario.login">
  </fieldset>
  <fieldset class="form-group">
    <label  for="senha">Senha</label>
    <input id="senha" type="password"  class="form-control" ng-model="usuario.senha">
  </fieldset>
  <button class="btn btn-lg btn-primary" ng-click="cadastrar(usuario)">
   Cadastrar
  </button>
</form>
